/vps/keys/*
!/vps/keys/vps-keys-readme.md
/vpn/clients-ovpn
/vpn/clients-ovpn.tar.gz
/oracle/instantclient
/recovery
*.ovpn
.env
*.key
*.key.pub
*.sql
**/*secret.yml
**/*secret.yaml

# LaTeX compilation files
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.ps
*.bbl
*.blg
*.lof
*.lot
*.idx
*.ind
*.ilg
*.thm
*.vrb
*.ver
*.clog