<configuration>
  <property>
    <name>dfs.replication</name>
    <value>3</value>
  </property>
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file:///home/luis122448/hadoop_data/hdfs/namenode</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file:///home/luis122448/hadoop_data/hdfs/datanode</value>
  </property>
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file:///home/luis122448/hadoop_data/hdfs/datanode</value>
  </property>
</configuration>